<?xml version='1.0' encoding='UTF-8'?>

<contentList cc='cn'>

	<content name='dbErrMsg' enable='true'/>

	<content name='chat201111' enable='true' visible='true' value='localeSp'/>			<!-- 채팅서버 -->
	<content name='ch201108' enable='true' visible='true'/>	<!-- 채널개편 -->
	<!-- menu -->
	<content name='roomListType' enable='true' />
	<content name='enchant' enable='true' visible='true'/>
	<content name='multiplay' enable='true' visible='true' />
	<content name='singleplay' enable='true' visible='true' />
	<content name='grandprix' enable='true' visible='true' />
	<content name='guildprix' enable='true' visible='true'>
		 <rpLucciBonus rpMul='1.3' lucciMul='1.3' />	<!--rp lucci 보너스-->
		 <bonusIcon tex1='guild_bonus_ch_1@zz' tex2='guild_bonus_ch_2@zz'/>	<!--보너스 icon texture 이름-->
	</content>
	<content name='replay' enable='true' visible='true' />
	<content name='shop' enable='true' visible='true' />
	<content name='flag' enable='true' visible='true' /><!--10月6日-->
	<content name='bokbulbok' enable='true' visible='true'/>
	<content name='riderSchool' enable='true' visible='true'/>
	<content name='timeAttack' enable='true' visible='true' value='moonhill_I02_rvs' maxReplayFileCount='250'>
		<baseReward rp='10' lucci='20'/>
		<newRecordReward rp='20' lucci='50'/>
	</content>
	<content name='scenario' enable='true' visible='true'/>
	<content name='scenarioTreasure' enable='true' visible='true'/> <!--시나리오 보물찾기-->
	<content name='battleMode' enable='true'  visible='true'/>
	<content name='champions' enable='false' visible='false' />
	<content name='deadRacing' enable='false' visible='false' />
	<content name='bossMode' enable='true' visible='true' />
	<content name='f1Speed' enable='false' visible='false' value='minimal'/>
	<content name='quest2' enable='true' visible='true'/>
	<content name='quest2System' enable='true' visible='true'/>
	<content name='minigame' enable='true' visible='true'/>
	<content name='myPlant' enable='true' visible='true'/>

	<!-- 카트 스펙 창 텍스트 or 방사형 그래프 타입 설정 -->
	<content name='itemSpecInfoTextType' enable='false' visible='true'/>

	<!-- 서바이벌 -->
	<content name='survival' enable='false' visible='false'>
		<gameType name='speedNormal' enable='true' visible='true'/>
		<gameType name='speedPremium' enable='true' visible='true'/>
		<gameType name='speedNormalTeam' enable='true' visible='true'/>
		<gameType name='speedPremiumTeam' enable='true' visible='true'/>
	</content>
	<content name='luccon' enable='true' type='cash' exchangeRate='1'>
		<maintenance
			schedule='2013-07-16T23:59:59' 
			irrechargeableMinutesBefore='60' irrechargeableMinutesAfter='5'
			unusableMinutesBefore='5' unusableMinutesAfter='5'
			noticeDaysBefore='7'
			/>
	</content>

	<content name='itemRandomGame' enable='false' visible='false' 
                     gameType='ItemIndiRandom'
                     openPeriod='2011-09-08T06:00:00~2011-09-21T23:59:59'/>
    <content name='itemSpecialGame' enable='true' visible='true' 
                     gameType='ItemIndiSpecial,ItemTeamSpecial'
                     openPeriod='2013-11-28T06:00:00~2013-12-11T23:59:59'/>
	<content name='speedShadowGame' enable='true' visible='true'
                     gameType='SpeedIndiShadow,SpeedTeamShadow'
					 value='2018-02-15T06:00:00~2018-03-01T05:59:59'/>
    <content name='freeMatch' enable='true' visible='true' 
                     gameType='SpeedMatch,ItemMatch'
					 value='2013-01-24T06:00:00~*'
                     openPeriod='2013-01-24T06:00:00~*'/>
	 <content name='leagueMode' enable='true' visible='true' 
                     gameType='LeagueTeam'
					 value='2013-01-24T06:00:00~*'
                     openPeriod='2013-01-24T06:00:00~*'/>
	<content name='garage' enable='false' visible='false' />
	<content name='myRoom' enable='true' visible='true' />
	<content name='secretBox' enable='true' visible='true'/> 
	<!--<content name='themeMyRoom' enable='true' value='cn'/>-->

	<content name='option' enable='true' visible='true' />
	<content name='giftBox' enable='true' visible='true' />
	<content name='messenger' enable='true' visible='true' />
	<content name='noticer' enable='true' visible='true'/>

	<!-- recording -->
	<content name='bandiCapture' enable='true'/>

	<content name='gradeMark' visible='false' />

	<content name='quickMainMenu' enable='false'/> 

	<content name='couple' enable='true'>
		<rpLucciBonus rpMul='0' lucciMul='0'/>
		<bonusIconNameFormat value='result_%s2_@zz'/>
	</content>	<!-- 커플 보너스는 event.xml에 가서 보세요 -->

	<!-- 커플 룸 보너스 -->
	<content name='coupleRoomBonus' enable='true' bonusIconNameFormat='coupleRoom%d@zz' rpMul='2.0' lucciMul='2.0' value='2022-03-10T06:00:00~2022-03-17T05:59:59'/>

	<!--ChellengeModeCollect-->
	<content name='ChellengeModeCollect' enable='true'/>

	<!-- channel -->
	<content name='rookieIntro' enable='true' visible='true' />
	<content name='eventChannel' enable='false' visible='false' />

	<!-- game type -->
	<content name='itemGame' enable='true'/>
	<content name='speedGame' enable='true'/>
	<content name='flagGame' enable='true'/><!--10月6日-->
	<content name='teamGame' enable='true'/>

	<!-- track -->
	<content name='reverseTrack' enable='true'/>
	<content name='crazyTrack' enable='true'/> <!-- 2016-08-25 Revision 20193 소스 나가면 지워도 된다 -->
	<content name='crazyRandom' enable='true'/>
	<content name='speedRandom' enable='true'/>
	<content name='newRandom' enable='true'/>
	<content name='classicRandom' enable='false'/>
	<content name='leagueRandom' enable='true' value='3'/>
	<content name='hotRandom' enable='true'/>
	<content name='allRandom' enable='true'/>
	<content name='reverseRandom' enable='true'/>
	<content name='speedAllRandom' enable='true'/>

	<!-- x mas -->
	<!-- 0 : none, 1 : always, 2 : needsItem -->
	<content name='xmasThemeType' value='0' >
		<item itemCatId='1' itemId='1' />
	</content>
	<content name='themeMyRoom' value='xmas' enable='true'/>
	<!--<content name='customUITheme' value='xmas'/> -->

	<content name='eventItemCube' value='anniversary20' enable='false'/>

	<content name='checkIdle' enable='true' value='6000'/>	<!-- 100 시간 -->

	<!-- special Theme -->
	<content name='anycall' enable='false'/>

	<!-- localized track -->
	<!-- <content name='villageTheme' value='cn' /> -->
<!--	<content name='themeMyRoom' enable='true' value='cn'/>-->
	<!--	<content name='themeMyRoom' value='xmas' enable='false'/>>-->
	<!--<content name='customUITheme' value='olympics'/>-->
	<!--<content name='customUITheme' value='xmas'/>-->

	<!-- taki -->
	<content name='takiBonusType' value='2' />
	<content name='brodiBonusType' value='2' />
	<content name='eriniBonusType' value='2' />

	<content name='themeForest' enable='true' visible='true' />
	<content name='themeDesert' enable='true' visible='true' />
	<content name='themeVillage' enable='true' visible='true' />
	<content name='themeIce' enable='true' visible='true' />
	<content name='themeTomb' enable='true' visible='true' />
	<content name='themeMine' enable='true' visible='true' />
	<content name='themeNortheu' enable='true' visible='true' />
	<content name='themeFactory' enable='true' visible='true' />
	<content name='themeMoonhill' enable='true' visible='true' />
	<content name='themeGold' enable='true' visible='true' />
	<content name='themeChina' enable='true' visible='true' />
	<content name='themePirate' enable='true' visible='true' />
	<content name='themeFairy' enable='true' visible='true'/>
	<content name='themeNymph' enable='true' visible='true'/>
	<content name='themeCastle' enable='true' visible='true'/>
	<content name='themeMechanic' enable='true' visible='true'/>
	<content name='themeXyy' enable='false' visible='false'/>
	<content name='themeWkc' enable='true' visible='true'/>
	<content name='themeBrodi' enable='true' visible='true'/>
	<content name='themePark' enable='true' visible='true'/>
	<content name='themeBeach' enable='true' visible='true'/>
	<content name='themeSteam' enable='true' visible='true'/>
	<content name='themeTransFormer' enable='true' visible='true'/>
	<content name='themeJurassic' enable='true' visible='true'/>
	<content name='themeWorld' enable='true' visible='true'/>
	<content name='themeNemo' enable='true' visible='true'/>
	<content name='themeSword' enable='true' visible='true'/>
	<content name='themeGod' enable='true' visible='true'/>
	<content name='themeAbyss' enable='true' visible='true'/>
	<content name='themeCamelot' enable='true' visible='true'/>
	<content name='themeOlympos' enable='true' visible='true'/>
	<content name='themeMabinogi' enable='true' visible='true'/>
	<content name='themeMapleStory' enable='true' visible='true'/>
	<content name='themeFengshen' enable='true' visible='true'/>

	<!-- max license level -->
	<content name='maxLicenseLv' value='4' />

	<!-- kart kind -->
	<content name='kartMarathon' enable='true' visible='true' />
	<content name='kartBurst' enable='true' visible='true' />
	<content name='kartSolid' enable='true' visible='true' />
	<content name='kartSaber' enable='true' visible='true' />
	<content name='kartCotton' enable='true' visible='true' />
	<content name='kartPlasma' enable='true' visible='true' />
	<content name='kartEvent' enable='true' visible='true' />
	<content name='kartUpgrade' enable='true' visible='true' />
	<content name='kartEtc' enable='true' visible='true' />

	<!-- shop -->
	<content name='shopUseOnlyDayUnit' enable='true'/>
	<content name='rechargeCash' enable='true' />
	<content name='useInternalRechargeCashDialog' enable='true'/>
	<content name='useCoupon' enable='true' />
	<content name='limitedNewStockCardCount' value='30' />
	<content name='gcoin' enable='true' itemId='1'/> <!-- 중국 3차 화폐 -->

	<!-- shop 대분류 -->
	<content name='shopNew' enable='true' visible='true' />
	<content name='shophot' enable='true' visible='true' />
	<content name='shopPcCafe'  enable='false' visible='false'/>
	<content name='shopCharacter' enable='true' visible='true'/>
	<content name='shopKart' enable='true' visible='true'/>
	<content name='shopItem' enable='true' visible='true'/>
	<content name='shopMakeup' enable='true' visible='true'/>
	<content name='shopStuff'  enable='true' visible='true' />
	<content name='shopPet'  enable='true' visible='true' />
	<content name='shopEventGoods' enable='false' visible='false' /><!-- 기획 상품이란 뜻으로... -->
	<content name='shopCharacterPet'  enable='true' visible='true' />
	<content name='shopWhole'  enable='true' visible='true' />
	<content name='shopPackage'  enable='false' visible='false' />
	<content name='shopLottery'  enable='true' visible='true' />
	<content name='shopSale'  enable='true' visible='true'/>
	<content name='shopFree' enable='false' visible='false' />
	<content name='shopVip' enable='true' visible='true' />
	<content name='shopNoPrice' enable='false' visible='false' />
	<content name='shopUnlimited' enable='false' visible='false' /> <!-- 무제한 탭 -->	

	<!-- shop 소분류 -->
	<content name='shopCharacterDecoration' enable='true' visible='true' />
	<content name='shopPaint' enable='true' visible='true'/>
	<content name='shopPlate' enable='true' visible='true'/>
	<content name='shopInitial' enable='false' visible='false'/>
	<content name='shopDecoItem' enable='true' visible='true' />
	<content name='shopStuffItem' enable='true' visible='true' />
	<content name='shopItemBattle' enable='true' visible='true' />
	<content name='shopKartSpeed' enable='true' visible='true' />
	<content name='shopKartBattle' enable='true' visible='true' />
	<content name='shopKartEtc' enable='true' visible='true' />
	<content name='shopKartItem' enable='true' visible='true' />
	<content name='shopExpendable' enable='true' visible='true' />
	<content name='shopEtc' enable='true' visible='true' />
	<!--<content name='shopSale'  enable='true' visible='true'/>-->

	<!-- garage -->
	<content name='garagePcCafe'  enable='true' visible='true' />
	<content name='garageStuff'  enable='true' visible='true' />
	<content name='garageJewel'  enable='true' visible='true' />
	<content name='garageUpgrade' enable='true' visible='true' />
	<content name='garageDecoItem'  enable='true' visible='true' />
	<content name='garageStuffItem'  enable='true' visible='true' />
	<content name='garageCharPet'  enable='true' visible='true' />
	<content name='garageItemBattle'  enable='true' visible='true' />

	<content name='garageKartVipItem'  enable='true' visible='true' />
	<content name='garageKartItem'  enable='true' visible='true' />
	<content name='garageKartSpeed'  enable='true' visible='true' />
	<content name='garageStrengthen'  enable='true' visible='true'/> <!-- 강화로 추가됨 -->
	<content name='garageKartBattle'  enable='true' visible='true' />
	<content name='garageKartEtc'  enable='true' visible='true' />
	<content name='garageExpendable'  enable='true' visible='true' />
	<content name='garageEtc'  enable='true' visible='true' />
	<content name='garageEffect'  enable='true' visible='true' />
	<content name='garageWhole'  enable='true' visible='true' />
		
	<content name='itemCatCharacter' enable='true' />
	<content name='itemCatGoggle' enable='true' />
	<content name='itemCatHeadBand' enable='true' />
	<content name='itemCatHeadPhone' enable='true' />
	<content name='itemCatHandGearL' enable='true' />
	<content name='itemCatKart' enable='true' />
	<content name='itemCatPlate' enable='true' />
	<content name='itemCatDecal' enable='true' />
	<content name='itemCatBalloon' enable='true' />
	<content name='itemCatPaint' enable='true' />
	<content name='itemCatSuperBoss' enable='true' />
	<content name='itemCatLicense' enable='true' />
	<content name='itemCatSlotChanger' enable='true' />
	<content name='itemCatItemChanger' enable='true'/>
	<content name='itemCatPet' enable='true' />
	<content name='itemCatFlyingPet' enable='true' />
	<content name='itemCatUniform' enable='true'/>
	<content name='itemCatAura' enable='true'/>
	<content name='itemCatSkidMark' enable='true'/>
	<content name='itemCatRidColor' enable='true'/>
	<content name='itemCatSpecialKit' enable='true'/>
	<content name='itemCatRpLucciBonus' enable='true'/>
	<content name='itemCatMyRoom' enable='true'/>	
	<content name='itemCatExtend' enable='true'/>
	<content name='itemCatBossModeCard' enable='true'/>
	<content name='itemCatLucciItem' enable='true'/>
	<content name='itemCatLucconItem' enable='true'/>
	<content name='itemCatAttendRestore' enable='true'/>


	<!-- license : L1 -->
	<content name='L1LicenseExpose' enable='true' visible='true'/>

	<!-- replay -->
	<content name='premiumReplay' enable='true' visible='true' />
	<content name='selfChatFilter' enable='true' />
	<content name='findRiderFilter' enable='true' />

	<content name='maxGachaExpireDay' value='18250' />

	<!-- crm -->
	<content name='reportGameCount' enable='true'/>
	<content name='reportBattleModeCrm' enable='true' />
	<content name='reportGameResult' enable='true' value='5000'/>	<!-- 100 /10000 , 1% -->

	<!-- messages -->
	<content name='msgs'>
		<msg key='multiplayNotice' value='新增加了极速方程模式。|快来体验与20名超强车手一比高下的刺激与快感吧。' />
		<msg key='grandprixNotice' value='' />
		<msg key='scenarioNotice' value='添加了故事模式世界锦标赛章节。请体验新的故事模式！'/>
		<msg key='singleplayNotice' value='新添加流星花园宝宝版故事模式。|体验全新的故事模式吧！'/>
		<msg key='speedTrackNotice' value='' />
		<msg key='speedTrackNoticeLv' value='1' />
		<msg key='itemTrackNotice' value='' />
		<msg key='itemTrackNoticeLv' value='1' />
		<msg key='arenaTrackNotice' value='' />
		<msg key='battleNotice' value=''/>	
		<msg key='championsNotice' value=''/>		
		<msg key='suvivalNotice' value=''/>		<!--竞技场模式|团队赛开放-->
		<msg key='bokbulbokNotice' value='RP模式再次来临，欢迎大家来参加试玩！'/>
		<!--msg key='singleplayNotice' value='新增加了黑条纹卡丁车。'/-->
		<msg key='deadRacingNotice' value='增加了新赛道。'/>
		<msg key='etcPlayNotice' value='寻找夺旗赛、冠军赛、车队赛等多样模式给|我们带来的乐趣吧。'/>
		<msg key='plantNotice' value='特殊而富有个性的车辆！赶紧在我的工厂系统中生产能量来打造一辆属于自己的车辆！'/>
		<msg key='eventNotice' value=' '/>
	</content>									 

	<content name='disableCloseFinishReportAbuser' enable='false'/>	 <!-- 핵사용 유저 짤라낼지?   false가 짤라냄-->

	<content name='eventGarage' default='garage' openPeriod='*~*' value='2026_Face-lift_main'/>

	<!-- 패널티 type 
		0 : none
		, 1 : L2 in Rookie
		, 2 : 1단계 50%, 2단계 30%, 3단계 20%
	-->
	<content name='penaltyType' value='2' />

	<!-- event -->
	<content name='jewel' enable='true'/>
	<content name='happyNewYear' enable='false' value='新年快乐'/>
	<content name='quest' enable='true' visible='true' value='祝贺完成%d回行驶' />

	<content name='bigBonusGame' enable='true'>
		<trackId value='ice_B01'/>
		<actionEffect value='2008Xmas_cn'/>
		<lucciType	eventLucciId='1' jewelLucciId='2'/>
		<pointPerPlayer base='20' addition='5' maximum='55'/>
		<timePerPlayer  base='20' addition='3' maximum='41'/>
	</content>

	<!-- 접속 이벤트
		eventItem
			@type = once | everyDay // eventType
			@eventTempId = 0-3		// 사용할 eventTemp Id
			@eventTempMask =		// once type -> check하고
									// everyDay type -> 0xFFFF0000 or 0x0000FFFF
			@eventTempFilter =		// check하고 set할 값
			@rewardStockId =		// 상품 ID
			@message =				// 메시지
			@openPeriod =			// 이벤트 기간
	-->
	<!--
				// 중국 3/14일 들어간 로그인 이벤트를 위한 코멘트
				// 기간 지난 후, 삭제해도 무방
	
				2011년 ~ 2012년 : 프로토 8 (30일), 코튼 HT (30일)
					(from)
						eventTempMask='0x00000100'
						eventTempFilter='0x00000100'
					(to)
						0x01000000

				2008년 ~ 2010년 : 코튼 HT(30일), 코튼 HT LE (30일), 행운의 초록 요리장갑 (7개)
					(from)
						eventTempMask='0x00000010'
						eventTempFilter='0x00000010'
					(to)
						0x00010000
						0x00100000
						* 아이템이 3개이므로 3개가 필요합니다. 두번의 복사가 필요.

				2006년 ~ 2007년 : 코튼 HT LE (무제한), 행운의 초록 요리장갑 (7개)
					(from)
						eventTempMask='0x00000001'
						eventTempFilter='0x00000001'
					(to)
						0x00001000
	-->

	<content name='eventReward' enable='true'/>
	<content name='skin' enable='true' value='monocoque'/>

	<!-- protector -->
	<content name='nppower' enable='false' value='10000'/>
<!--	<content name='useXignCode' enable='true'/>-->
	<content name='useStoneModule' enable='true'/>

	<!-- MiniNotice -->
	<content name='questMiniNotice' enable='false'/>

	<content name='defaultInitial' value='POP'/>
	<content name='drrMineDisable' enable='true'/>
	<content name='useSelectItemDialogEx' enable='true' />
	<content name='reverseTimeAttack' enable='true' />

	<!-- Tutorial Quest -->
	<content name='tutorialQuest' enable='false'/>

	<!-- about PC cafe -->
	<content name='cafeLucciDouble' enable='true'/>
	<content name='pcCafeBonus' enable='true' rpMul='1.3' lucciMul='2.0'/>
	<content name='pcCafeItem' enable='true'>
		<!-- char -->
<!--	<item itemCatId='1' itemId='27' />-->
		<item itemCatId='1' itemId='17' />  

		<item itemCatId='3' itemId='195' />
		<item itemCatId='3' itemId='190' />
		<item itemCatId='3' itemId='192' /> <!-- 에띠SR -->
		<item itemCatId='3' itemId='193' /> <!-- 우니SR -->
		<item itemCatId='3' itemId='187'/>
		<item itemCatId='3' itemId='191'/>
		<item itemCatId='3' itemId='189'/>	<!--마리드 SR-->
		<item itemCatId='3' itemId='194'/>	<!--케피 SR-->
	</content>
	<content name='pcCafeNotice' enable='true' value='0_646'/>

	<!-- dynamic data -->

	<content name='track' > <!-- ex) <track id='id' blocked='' /> <trackrvs refId ='id' blocked='' /> -->
	</content>

	<content name='stockCard'> <!-- <stockCard stockCardId='' blocked='' /> -->
	</content>

	<content name='attendEvent' enable='false'>
	</content>

	<content name='useAttendRestore' enable='true' value='30'/>
	<content name='showGuildInGame' enable='true'/>
	<content name='preventAddiction' enable='true' value='1'/>	<!-- 몰입 방지 -->

	<!--Messenger-->
	<content name='guildTab' enable='true' visible='true'/>
	<content name='otherTab' enable='false'  visible='true'/>
	
    <!-- 상점 임시 block -->
	<content name='stockCard'>
<!--	<stockCard stockCardId='280' blocked='1' />	-->		<!--길드마크변경권-->
	</content>

	<!--ingame Disp-->
	<content name='inGameDispTrackInfo' enable='true'/>	 <!-- 레이스 시작시 트랙 정보외 표시 -->
	<content name='inGameDispTeamSpot' enable='true'/>	<!-- 레이스 라이더명 좌측에 팀 컬러 불릿 표시 -->

	<!-- etc -->
	<content name='logBattleModeClearCount' enable='false' value='2' />
	<content name='myRoomAura' enable='true'/>
	<content name='practiceKart' kartName='practiceV1' />
	<content name='myRoomPlayWithVisitor' enable='false' visible='false'/>
	<content name='useLoggerPlayfeed' enable='false'/>
	<content name='newGachaStage' enable='true' visible='true' value='GachaStage'/>
	<content name='bonusStage' enable='true'  />
	<content name='bonusStageEvent' enable='true'  openPeriod='*~2011-12-28T23:59:59'/>
	<content name='reformedRiderSchool' enable='true' value='2015-07-16T06:00:00' itemKartName='practice7item' speedKartName='practice7speed'/>
	<content name='loveVill' enable='true' value='2013-11-07T06:00:00~2013-11-20T23:59:59'/> <!-- 애정촌 -->
	<content name='avoidItemTeamKill' enable='true'/> <!-- 팀킬 금지 -->
	<content name='rightBtnPopupMenu' enable='true'/> <!--오른쪽 버튼 팝업 메뉴 활성화 -->
	<content name='eventMenuManager' enable='true'/>		<!-- 이벤트 메뉴 -->
	<content name='readyStageSlotTeamColoring' enable='true'/>	<!-- 대기방 슬롯 팀컬러 적용 -->
	<content name='inGameDispTeamSpot' enable='true'/>	<!-- 레이스 라이더명 좌측에 팀 컬러 불릿 표시 -->
	<content name='protectReadyStageOut' enable='true'/>	<!-- 대기방 나올때 확인창 -->
	<content name='protectEnchant' enable='true'/>
	<content name='protectEnchantDouble' enable='true'/> <!--  더블 초기화 자물쇠 -->	
	<content name='inGameDispItemInfo' enable='true'/>
	<content name='playBurningSystem' enable='false' value='*~*'/> <!-- 플레이버닝 시스템 -->
	<content name='onlyBingoGacha' enable='true'/>
	<content name='challenger' enable='true' value='2012-10-25T06:00:00~*'/> <!--도전자모드-->

	<content name='coupleSetting' enable='true' lv2Days='50' lv3Days='50' lv4Days='100' lv5Days='100' lv1Bonus='0.22' lv2Bonus='0.24' lv3Bonus='0.26' lv4Bonus='0.28' lv5Bonus='0.30'>
		<!--<reward coupleLv='2' stockId='1'/>
		<reward coupleLv='3' stockId='2'/>
		<reward coupleLv='4' stockId='3'/>
		<reward coupleLv='5' stockId='4'/>
		-->
	</content>

	<content name='createRoomFillAiOption' enable='true' visible='false'/>
	<content name='partsExchange' enable='false'/>	<!-- 플랜트 분해 시스템 -->
	<content name='burningGacha' enable='true' value='*~2013-06-05T23:59:59'/> <!-- 버닝가차폰-->
	<content name='option_resolution' enable='true'/>
	<content name='option_effect_ht' enable='true'/>
	<content name='useIparam' enable='true'/>
	<content name='useItemSearch' enable='true'/> <!--아이템검색-->
	<content name='loadingPage' enable='true'/> <!--로딩 페이지-->
	<content name='webAvatar' enable='false'/> <!--웹 아바타 업로드--> 
	<content name='burningSlotGacha' enable='true' value='*~2013-10-30T23:59:59'/>
	<content name='koin' enable='true'/>
	<content name='battleModeChannel' enable='true'/>
	<content name='gift' enable='true'/>
	<content name='exchangeSystem' enable='true'/> <!-- 합성 시스템 -->
	<content name='periodExchangeSystem' enable='true' value='2026-08-20T06:00:00~2026-09-03T05:59:59'/> <!-- 기간제 합성 시스템 -->

	<!-- 월드컵 가위바위보 UI 설정 -->
	<content name='rpsMiniGameSoccerTheme' enable='false'/>
	<content name='eventExchangeSystem' enable='true'/>
	<content name='kartLevel' enable='true'/>
	<content name='lteMode' enable='true' value='2015-04-01T00:00:00~2015-04-08T23:59:59'/>
	<content name='helper' enable='false'/>
	<content name='trafficHandler' enable='true' tick='15000' setCloseLimit='300' />
	<content name='tachoSkin' enable='true'/>	<!-- 타코미터 스킨 기능 -->
	<content name='tierMatching' enable='true'/>
	<content name='messengerDoInvite' enable='true' />	
	<content name='rewardBox' enable='true'/>
	<content name='questUX2nd' enable='true' visible='true'/>
	<content name='addTime' enable='true'/>
	<content name='itemStateNotice' enable='true'/>
	<content name='versusMode' enable='true'/>
	<content name='logLogoutTime' enable='true'/>
	<content name='countdownBox' enable='true'/>

	<!-- 10세대 엔진 
		@PartsChange= normal, rare, legend, unique 파츠 조각 교환 활성화 ex)  PartsChange='normal,rare,legend,unique' 
	-->
	<content name='X-Engine' enable='true' exchangeV1PartsPiece='false'>
		<exchageParts engineGrade='8' PartsChange='normal,rare,legend'/>
		<exchageParts engineGrade='7' PartsChange='normal,rare,legend'/>
	</content>

	<!-- true면 옵션, false면 param.xml 로 듀얼 부스터 type 처리 -->
	<content name='dualBoostUseByOption' enable='true' />

	<content name='endingBanner' enable='true' />

	<content name='limitItemChangerUse' enable='false' value='5' gameType='ItemIndi;ItemTeam;ItemMatch'/>

	<content name='disassembleAlert'>
		<alert engineGrade='7' uniqueLevel='2'/> <!-- X 레전드 이상 -->
		<alert engineGrade='8' uniqueLevel='4'/> <!-- V1 일반 이상 -->
	</content>

	<!-- 신규 클럽 시스템 -->
	<content name='clubSystem' enable='true' />
	<content name='clubRace' enable='true' visible='true' />

	<!-- 랭킹 시스템 -->
	<content name='rankingSystem' enable='false'/>

	<!-- 막자 모드 -->
	<content name='roadBlockGame' enable='true' />

	<!-- 아이템 프리미엄 서비스 
		: 특정 아이템 소지 시, PC방과 동일한 프리미엄 서비스가 적용된다.
	-->
	<content name='itemPremiumService' enable='true' itemCatId='23' itemId='89'/>

	<!-- 아이템 도감 -->
	<content name='itemDictionary' enable='true'/>

		<!-- 스텔스 모드(만우절 이벤트) -->
	<content name='stealthEventMode' enable='true' value='2026-08-06T06:00:00~2026-08-20T05:59:59'/>
	<content name='customBgm' enable='true'/>
	<content name='career' enable='true'/>
	<content name='kartPass' enable='true'/>

	<!-- 
			** 11단계 V1 엔진 **
			1) beforeV1=true 이면 V1 엔진 적용사항 일부(차고UI,파츠교환UI 등)를 X 엔진용으로 변경함(일부 XML, 리소스는 수동 교체필요)
			2) tunning=true 이면 V1 엔진 강화가능(해외만 사용중)
	-->
	<content name='V1-Engine' enable='true' beforeV1='false' tunning='true'/>

	<!-- 인게임 UI On Off -->
	<content name='IngameUIOnOff' enable='true'/>

	<!-- 아이템큐브제한 -->
	<content name='ItemCubeAbusingCheck' enable='true'>
		<channelCat name='itemTeamIntegrated'/>
		<channelCat name='tierMatching_itemNewItemIndi'/>
		<channelCat name='tierMatching_itemNewItemTeam'/>
		<channelCat name='grandprix_itemNewItemIndi'/>
		<channelCat name='grandprix_itemNewItemTeam'/>
		<channelCat name='clubRace_item'/>
		<channelCat name='itemNewItemIndiNewbie'/>
		<channelCat name='itemNewItemTeamNewbie'/>
		<channelCat name='itemIndiCombine'/>
		<channelCat name='itemTeamCombine'/>
		<channelCat name='itemDuoCombine'/>
		<channelCat name='itemMiniIndi'/>
		<channelCat name='itemMiniTeam'/>
		<channelCat name='itemIndiTest'/> 
		<channelCat name='crossoverIndi'/>
		<channelCat name='RotationMode'/>
		<channelCat name='grandprix_crossoverAutoIndi'/>
		<channelCat name='stealthItemIndi'/>
	</content>

	<!-- 인증 관련 -->
	<content name='askPassword'>
		<LoRqDeleteItemPacket 						value='cnAuthAPI' />
		<PqBreakCouple 									value='cnAuthAPI' />
		<SpReqNormalShopGiveGiftPacket 	value='cnAuthAPI' />
		<SpReqDeleteGiftPacket 						value='cnAuthAPI' />
		<PqUnLockedItem								value='cnAuthAPI' />
	</content>

	<content name='newbieMatching' enable='true'/>
	<content name='newMixDialog' enable='true'/>
	<content name='growthKart' enable='true' />

	<content name='checkGreenAuth' enable='true' value='https://popkart.tiancity.com/homepage/v3/greenuser/index.html' />
	<content name='greenRoomName' enable='true' value='大家一起玩~!' />

	<!-- 아이템 프리셋 -->
	<content name='itemPreset' enable='true'>
		<singleStage stageName='MyRoomStage'/>
		<singleStage stageName='MainMenuEx'/>
		<singleStage stageName='TimeAttackReadyStage'/>
		<singleStage stageName='TimeAttackCompetitiveReadyStage'/>
		<singleStage stageName='RankingTimeAttackReadyStage'/>
		<singleStage stageName='ChallengerReadyStage'/>
		<singleStage stageName='ReplayReadyStage'/>
		<singleStage stageName='ScenarioReadyStage'/>
		<multiReadyStage gameType='SpeedIndi'/>
		<multiReadyStage gameType='ItemIndi'/>
		<multiReadyStage gameType='SpeedTeam'/>
		<multiReadyStage gameType='ItemTeam'/>
		<multiReadyStage gameType='FlagTeam'/>
		<multiReadyStage gameType='BattleTeam'/>
		<multiReadyStage gameType='SpeedIndiShadow'/>
		<multiReadyStage gameType='SpeedTeamShadow'/>
		<multiReadyStage gameType='ClubRaceSpeedTeam'/>
		<multiReadyStage gameType='ClubRaceItemTeam'/>
		<multiReadyStage gameType='VersusModePursuit'/>
		<multiReadyStage gameType='ItemindiTest'/>
		<multiReadyStage gameType='ItemTeamTest'/>
		<multiReadyStage gameType='ItemDuo'/>
		<multiReadyStage gameType='SpeedDuo'/>
		<multiReadyStage gameType='CrossoverIndi'/>
		<multiReadyStage gameType='StealthItemIndi'/>
		<multiReadyStage gameType='StealthSpeedIndi'/>
	</content>

	<content name='periodItemSupport' enable='true' supportPeriodDays='10' returnUserLogoutDays='60' />
	<content name='checkClientFramerate' enable='true'/>

	<!-- PC방 아이템/슬롯 체인저 무제한 사용 옵션 -->
	<content name='infinitySlotChangerAtPcCafe' enable='false'/>
	<content name='infinityItemChangerAtPcCafe' enable='false'/>

	<!-- 물폭탄 거리 표시 3/9 패치에는 초보 개인전/팀전만 적용 -->
	<content name='waterbombPreview' enable='true'>
		<channelCat name='itemNewItemIndiNewbie'/>
		<channelCat name='itemNewItemTeamNewbie'/>
	</content>

	<!-- 
			아이템전 아이템 획득 제한 
			: 보스전, 플래그전은 적용하지 않음
	-->
	<content name='itemGameRestrictionItemCount' enable='true'>
		<channelCat name='itemIndiCombine'/>
		<channelCat name='itemTeamCombine'/>
		<channelCat name='itemNewItemIndiNewbie'/>
		<channelCat name='itemNewItemTeamNewbie'/>
		<channelCat name='clubRace_item'/>
		<channelCat name='tierMatching_itemNewItemIndi'/>
		<channelCat name='tierMatching_itemNewItemTeam'/>
		<channelCat name='itemIndiTest'/> 
		<channelCat name='crossoverIndi'/>
	</content>

	<!-- 12단계 엔진 -->
	<content name='engine12' enable='true'>
		<feature name='exceedTypeChange' enable='true'/>
	</content>

	<content name='newLeagueGame' enable='true'/>	<!-- 리그모드 활성화 -->
	<content name='sendClientPing' enable='false'/>
	<content name='tcCashEvent' enable='true'/>	<!-- 누적 충전/소비 이벤트 -->
	<content name='writeWordLog' enable='true'/>
	<content name='lotteryMileage' enable='true'/>
	<content name='loggingTierMatching' enable='true'/>
	<content name='bingoGachaMultiset' enable='true'/>
	<content name='rotationMode' enable='true'/>	<!-- 로테이션 모드 -->
	<content name='promiseEvent' enable='true'/>
	<content name='riderGuide' enable='true'/>
	<content name='upgradeGear' enable='true'/>
	<content name='racingExpedition' enable='true'/>

	<!-- 패치 이벤트 설정 -->
	<content name='relicInvest' enable='true' value='2018-08-30T06:00:00~2018-09-20T05:59:59'/> <!-- 유물조사단 -->	
	<content name='magicHat' enable='true' value='2022-09-29T06:00:00~2022-10-27T05:59:59' reduceLotteryCount='5' reduceNeedOtherCount='5'/>
	<!-- fishing Map : pirate_P01 / ice_P01 / moonhill_P01 / mabi_P01 / maple_P01 -->
	<content name='fishing' enable='true' value='2026-07-23T06:00:00~2026-08-06T05:59:59' map='moonhill_P01' useItemId='795'/>
	<content name='hitPangPang' enable='true' value='2025-08-28T06:00:00~2025-09-11T05:59:59' useItemId='652' theme='village'/>
	<content name='simulationGame' enable='true' value='2023-03-23T06:00:00~2023-04-27T05:59:59' useChannelButton='true'/>
	<content name='personalShop' enable='true' value='2026-09-17T06:00:00~2026-10-22T05:59:59'/>
	<content name='returnMission' enable='true' value='2026-08-27T06:00:00~2026-10-08T05:59:59'/>
</contentList>
